@model projetoLoginOdontologia.Models.modelPaciente
@{
    ViewBag.Title = "buscaPaciente";
}

<h2>busca Paciente</h2>

@using (Html.BeginForm("buscaPaciente", "Paciente", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label>Buscar Paciente</label>
    <br />
    <div class="editor-label">
        Digite o código da paciente a ser buscado:
    </div>
    <div class="editor-field">
        @Html.EditorFor(m => m.CodPac)
    </div>
    <br />
    <input type="submit" value="Buscar" />
}

@Html.Raw(ViewBag.GridViewString)
